In [1]:
import pandas as pd

In [2]:
#Read the file
df=pd.read_csv(r"D:\PortfolioProject_DataSets\NFLPlay.csv")

C:\Users\Prashant Bhardwaj\AppData\Local\Temp\ipykernel_14468\3774620444.py:2: DtypeWarning: Columns (25,51) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(r"D:\PortfolioProject_DataSets\NFLPlay.csv")

In [3]:
#look at a few rows 
df.head()

,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2009-09-10,2009091000,1,1,NaN,15:00,15,3600.0,0.0,TEN,...,NaN,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,NaN,NaN,2009
1,2009-09-10,2009091000,1,1,1.0,14:53,15,3593.0,7.0,PIT,...,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,2009-09-10,2009091000,1,1,2.0,14:16,15,3556.0,37.0,PIT,...,NaN,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,NaN,NaN,2009
3,2009-09-10,2009091000,1,1,3.0,13:35,14,3515.0,41.0,PIT,...,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2009-09-10,2009091000,1,1,4.0,13:27,14,3507.0,8.0,PIT,...,NaN,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,NaN,NaN,2009

In [4]:
#how many missing data points we have
df.isna().sum()

Date             0
GameID           0
Drive            0
qtr              0
down         61154
             ...
Win_Prob     25009
WPA           5541
airWPA      248501
yacWPA      248762
Season           0
Length: 102, dtype: int64

In [5]:
df.sample(5)

,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
295193,2015-11-15,2015111503,8,2,3.0,00:21,1,1821.0,0.0,CAR,...,-0.012815,0.362287,0.637713,0.379072,0.620928,6.377132e-01,-0.016786,-0.012658,-0.004128,2015
1551,2009-09-13,2009091301,22,4,NaN,00:00,0,0.0,6.0,KC,...,NaN,1.000000,0.000000,1.000000,0.000000,2.479207e-09,0.000000,NaN,NaN,2009
97912,2011-10-02,2011100200,19,3,2.0,02:53,3,1073.0,42.0,BUF,...,NaN,0.349660,0.650340,0.312907,0.687093,6.503402e-01,0.036753,NaN,NaN,2011
200327,2013-10-27,2013102706,14,2,3.0,00:17,1,1817.0,0.0,OAK,...,-1.169252,0.899756,0.100244,0.901907,0.098093,1.002440e-01,-0.002151,0.013094,-0.015244,2013
354829,2016-12-18,2016121805,7,1,1.0,00:31,1,2731.0,13.0,TEN,...,NaN,0.891491,0.108509,0.878547,0.121453,1.085091e-01,0.012943,NaN,NaN,2016

In [6]:
#Get the missing value count for top 10 rows
df.isna().sum().head(10)

Date                0
GameID              0
Drive               0
qtr                 0
down            61154
time              224
TimeUnder           0
TimeSecs          224
PlayTimeDiff      444
SideofField       528
dtype: int64

In [7]:
#Get the percentage of data missing in top 10 columns Way:1
total_values=df.iloc[:,:10].shape[0]
missing_values = df.iloc[:,:10].isna().sum()
percent_missing = (missing_values / total_values) * 100
percent_missing

Date             0.000000
GameID           0.000000
Drive            0.000000
qtr              0.000000
down            15.000196
time             0.054944
TimeUnder        0.000000
TimeSecs         0.054944
PlayTimeDiff     0.108907
SideofField      0.129511
dtype: float64

In [8]:
#Get the percentage of data missing in top 10 columns Way:2
df.iloc[:,:10].isna().mean()*100

Date             0.000000
GameID           0.000000
Drive            0.000000
qtr              0.000000
down            15.000196
time             0.054944
TimeUnder        0.000000
TimeSecs         0.054944
PlayTimeDiff     0.108907
SideofField      0.129511
dtype: float64

In [9]:
#remove all the rows that contain a missing value
df.dropna()
#look's like we have removed all the data as  every row in our dataset had at least one missing value

Empty DataFrame
Columns: [Date, GameID, Drive, qtr, down, time, TimeUnder, TimeSecs, PlayTimeDiff, SideofField, yrdln, yrdline100, ydstogo, ydsnet, GoalToGo, FirstDown, posteam, DefensiveTeam, desc, PlayAttempted, Yards.Gained, sp, Touchdown, ExPointResult, TwoPointConv, DefTwoPoint, Safety, Onsidekick, PuntResult, PlayType, Passer, Passer_ID, PassAttempt, PassOutcome, PassLength, AirYards, YardsAfterCatch, QBHit, PassLocation, InterceptionThrown, Interceptor, Rusher, Rusher_ID, RushAttempt, RunLocation, RunGap, Receiver, Receiver_ID, Reception, ReturnResult, Returner, BlockingPlayer, Tackler1, Tackler2, FieldGoalResult, FieldGoalDistance, Fumble, RecFumbTeam, RecFumbPlayer, Sack, Challenge.Replay, ChalReplayResult, Accepted.Penalty, PenalizedTeam, PenaltyType, PenalizedPlayer, Penalty.Yards, PosTeamScore, DefTeamScore, ScoreDiff, AbsScoreDiff, HomeTeam, AwayTeam, Timeout_Indicator, Timeout_Team, posteam_timeouts_pre, HomeTimeouts_Remaining_Pre, AwayTimeouts_Remaining_Pre, HomeTimeouts_Remaining_Post, AwayTimeouts_Remaining_Post, No_Score_Prob, Opp_Field_Goal_Prob, Opp_Safety_Prob, Opp_Touchdown_Prob, Field_Goal_Prob, Safety_Prob, Touchdown_Prob, ExPoint_Prob, TwoPoint_Prob, ExpPts, EPA, airEPA, yacEPA, Home_WP_pre, Away_WP_pre, Home_WP_post, Away_WP_post, Win_Prob, WPA, airWPA, ...]
Index: []

[0 rows x 102 columns]

In [10]:
#remove all columns with at least one missing value
df1=df.dropna(axis=1)
df1.head()

,Date,GameID,Drive,qtr,TimeUnder,ydstogo,ydsnet,PlayAttempted,Yards.Gained,sp,...,Timeout_Indicator,Timeout_Team,posteam_timeouts_pre,HomeTimeouts_Remaining_Pre,AwayTimeouts_Remaining_Pre,HomeTimeouts_Remaining_Post,AwayTimeouts_Remaining_Post,ExPoint_Prob,TwoPoint_Prob,Season
0,2009-09-10,2009091000,1,1,15,0,0,1,39,0,...,0,None,3,3,3,3,3,0.0,0.0,2009
1,2009-09-10,2009091000,1,1,15,10,5,1,5,0,...,0,None,3,3,3,3,3,0.0,0.0,2009
2,2009-09-10,2009091000,1,1,15,5,2,1,-3,0,...,0,None,3,3,3,3,3,0.0,0.0,2009
3,2009-09-10,2009091000,1,1,14,8,2,1,0,0,...,0,None,3,3,3,3,3,0.0,0.0,2009
4,2009-09-10,2009091000,1,1,14,8,2,1,0,0,...,0,None,3,3,3,3,3,0.0,0.0,2009

In [11]:
#How many colums we have removed as compared to our original Datast
print(df.shape[1])
print(df1.shape[1])

102
41

In [12]:
#Try imputation  in sample dataset
df2=df.loc[:,'EPA':'Season']
df2.head()

,EPA,airEPA,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2.014474,NaN,NaN,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,NaN,NaN,2009
1,0.077907,-1.068169,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,-1.402760,NaN,NaN,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,NaN,NaN,2009
3,-1.712583,3.318841,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2.097796,NaN,NaN,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,NaN,NaN,2009

In [13]:
#Replace with 0
df2.fillna(0).head()

,EPA,airEPA,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2.014474,0.000000,0.000000,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,0.000000,0.000000,2009
1,0.077907,-1.068169,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,-1.402760,0.000000,0.000000,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,0.000000,0.000000,2009
3,-1.712583,3.318841,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2.097796,0.000000,0.000000,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,0.000000,0.000000,2009

In [14]:
#Fill the value from the very next row
df2.fillna(method='bfill',axis=0).head()

,EPA,airEPA,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2.014474,-1.068169,1.146076,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,-0.032244,0.036899,2009
1,0.077907,-1.068169,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,-1.402760,3.318841,-5.031425,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,0.106663,-0.156239,2009
3,-1.712583,3.318841,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2.097796,-0.343085,0.163935,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,-0.010456,0.006029,2009

In [15]:
df['Home_WP_pre'].head(40)

0     0.485675
1     0.546433
2     0.551088
3     0.510793
4     0.461217
5     0.558929
6     0.578453
7     0.582881
8     0.617544
9     0.591489
10    0.585405
11    0.615159
12    0.597822
13    0.607521
14    0.514075
15    0.521073
16    0.399273
17    0.368797
18    0.376194
19    0.400657
20    0.430491
21    0.528421
22    0.511082
23    0.491891
24    0.413994
25    0.475251
26    0.448998
27    0.470567
28    0.454633
29    0.464664
30    0.422034
31    0.423776
32    0.496586
33    0.480678
34    0.456089
35    0.421319
36         NaN
37    0.436098
38    0.401951
39    0.424068
Name: Home_WP_pre, dtype: float64

In [16]:
df['Home_WP_pre'].isna().sum()

24954

In [17]:
#Replace the missing values in column Home_WP_pre with mean
df['Home_WP_pre'].fillna(value=df['Home_WP_pre'].mean()).head(40)

0     0.485675
1     0.546433
2     0.551088
3     0.510793
4     0.461217
5     0.558929
6     0.578453
7     0.582881
8     0.617544
9     0.591489
10    0.585405
11    0.615159
12    0.597822
13    0.607521
14    0.514075
15    0.521073
16    0.399273
17    0.368797
18    0.376194
19    0.400657
20    0.430491
21    0.528421
22    0.511082
23    0.491891
24    0.413994
25    0.475251
26    0.448998
27    0.470567
28    0.454633
29    0.464664
30    0.422034
31    0.423776
32    0.496586
33    0.480678
34    0.456089
35    0.421319
36    0.534488
37    0.436098
38    0.401951
39    0.424068
Name: Home_WP_pre, dtype: float64

In [18]:
#Replace with 0
df['Home_WP_pre'].fillna(value=0).head(40)

0     0.485675
1     0.546433
2     0.551088
3     0.510793
4     0.461217
5     0.558929
6     0.578453
7     0.582881
8     0.617544
9     0.591489
10    0.585405
11    0.615159
12    0.597822
13    0.607521
14    0.514075
15    0.521073
16    0.399273
17    0.368797
18    0.376194
19    0.400657
20    0.430491
21    0.528421
22    0.511082
23    0.491891
24    0.413994
25    0.475251
26    0.448998
27    0.470567
28    0.454633
29    0.464664
30    0.422034
31    0.423776
32    0.496586
33    0.480678
34    0.456089
35    0.421319
36    0.000000
37    0.436098
38    0.401951
39    0.424068
Name: Home_WP_pre, dtype: float64